<!DOCTYPE html>
<html>
	<head>
		<script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script type="text/javascript" src="../javascripts/application.js"></script>
    <link rel="stylesheet" type="text/css" href="../stylesheets/application.css">
    <title><%= team.name + " " + team.sport %></title>
	</head>
	<body>
		<% if(current_user) { %>
		<% include loggedInNavigation.ejs %>
		<% } else { %>
		<% include navigation.ejs %>
		<% } %>
		<div id="mainContent">
			<div class="warning">
		      <p>Warning</p>
		  </div>
		  <div class="success">
		      <p>Success</p>
		  </div>
			<h1><%= team.name + " " + team.sport %></h1>
			<table id="profileTable">
				<tr>
					<td>
					<img src="../images/bonesaw.jpg" width="300" height="264">
					<p><%= team.name + " " + team.sport + " coached by " + team.coach %></p>
					<p><%= team._id %></p>
					</td>
					<td>
						<!-- Saying this for now until I have team-user relationships set up -->
						<%= JSON.stringify(members) %>
						<% if(members.length === 0 ) {%>
							<b>There are no people currently on this team</b><br>
						<% } else { %>
							<table class="stripedHoveredTable">
								<thead>
									<th>Player Name<th>
								</thead>
								<tbody>
									<% for(var i = 0; i < members.length; i++) { %>
										<tr>
											<td><%= members[i].username %></td>
											<td><a href=<%= '/users/'+members[i].username %>>Details</a></td>
										</tr>
									<% } %>
								</tbody>
							</table>
						<% } %>
						<a class="newObjButton" href='/newTeamMember'>Add Member</a>
						<% if(team.events.length === 0) { %>
							<b>There are no events currently planned for this team</b> <br>
						<% } else { %>
							<table class="stripedHoveredTable">
								<thead>
									<th>Event Name</th>
								</thead>
								<tbody>
									<% for(var i = 0; i < team.events.length; i++) { %>
									<tr>
										<td><a href=<%= "/teams/" + team.name + "/" + team.events[i].name %>><%= team.events[i].name %></a></td>
									</tr>
									<% } %>
								</tbody>
							</table>
						<% } %>
						<a class="newObjButton" href=<%= "/teams/"+team.name+"/newEvent"%>>Create New Event</a>
					</td>
				</tr>
			</table>
			<b><%= JSON.stringify(team) %></b>
		</div>
	</body>
</html>