<!DOCTYPE html>
<html>
	<head>
		<title>Teams</title>
		<script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script type="text/javascript" src="javascripts/application.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/application.css">
	</head>
	<body>
		<% if(current_user) { %>
		<% include loggedInNavigation.ejs %>
		<% } else { %>
		<% include navigation.ejs %>
		<% } %>
		<div id="mainContent">
			<% if(warning) { %>
			<div class="warning">
		      <p><%= warning %></p>
		  </div>
		  <% } %>
		  <% if(success) { %>
		  <div class="success">
		      <p><%= success %></p>
		  </div>
		  <% } %>
			<h1>Teams</h1>
			<% if(teams.length === 0) { %>
				<p>There are no teams to display</p>
			<% } else { %>
			<table class="stripedHoveredTable">
				<thead>
					<th>Team Name</th>
					<th>Sport</th>
					<th>Coach</th>
					<th></th>
				</thead>
				<tbody>
				<% for(var i = 0; i < teams.length; i++) {%>
				<tr>
					<td><a href=<%= "/teams/"+teams[i].name %>><%=teams[i].name + " " + teams[i].sport %></a></td>
					<td><%= teams[i].sport %></td>
					<td><%= teams[i].coach %></td>
					<td><a class="details" href=<%= '/teams/'+teams[i].name %>>Details</a></td>
				</tr>
				<% }%>
			<% } %>
			</tbody>
			</table>
			<br>
			<a href="/teams/new" class="newObjButton">New Team</a>
		</div>
	</body>
</html>