<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title><%= obj.username %></title>
    <script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script type="text/javascript" src="../javascripts/application.js"></script>
    <link rel="stylesheet" type="text/css" href="../stylesheets/application.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/application.css">
  </head>
  <body>
  	<% if(current_user) { %>
    <% include loggedInNavigation.ejs %>
    <% } else { %>
    <% include navigation.ejs %>
    <% } %>
  	<div id="mainContent">
  		<h1><%= obj.username %></h1>
      <table id="profileTable">
        <tr>
          <td>
            <img src="../images/bonesaw.jpg" width="300" height="264"><br>
            <b><%= obj.street %></b><br>
            <b><%= obj.city + ", " + obj.state %></b><br>
            <b><%= obj.zip %></b>
          </td>
          <td>
            <%= JSON.stringify(teams) %>
            <% if(teams.length === 0) { %>
              <b>This user is not currently a member of any teams</b>
            <% } else { %>
              <table class="stripedHoveredTable">
                <thead>
                  <th>Team</th>
                  <th>Sport</th>
                  <th>Coach</th>
                </thead>
                <tbody>
                  <% for(var i = 0; i < teams.length; i++) { %>
                    <tr>
                      <td><a href=<%= '/teams/'+teams[i].name %>><%= teams[i].name %></a></td>
                      <td><%= teams[i].sport %></td>
                      <td><%= teams[i].coach %></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            <% } %>
          </td>
          <tr>
            <td><%= JSON.stringify(obj) %></td>
          </tr>
        </tr>
      </table>
      </div>
  </body>
</html>